<div class="display-center">
    <div class="disply-flex-center">
        <button id="start-scan" class="mt-3 custom-button">
            <i class="bi bi-upc-scan"></i>
        </button>
        <button id="stop-scan" class="mt-3 hide">
            <i class="bi bi-upc-scan"></i>
        </button>
    </div>
    <p id="scan-status" class="mt-2" style="color: #666;"></p>
    <p id="scan-result" class="mt-2"><span id="barcode-result"></span></p>
</div>

<style>
    .hide {
        display: none;
    }

    #stop-scan {
        color: var(--clr-error);
        border-color: var(--clr-error);
    }
</style>