/* Variables Globales */
* {
    --clr-secondary: #d4edda;
}

/* Estilos Generales */
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #666;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

th {
    font-weight: 500;
}

/* Estilos de Celdas Pegajosas (Sticky) */
.sticky-col-1 {
    position: sticky;
    left: -1rem;
    background-color: var(--clr-secondary) !important;
    z-index: 3;
    border: 2px solid #ddd;
}

.sticky-col-2 {
    position: sticky;
    left: -1rem;
    background-color: var(--clr-secondary) !important;
    z-index: 4;
    border: 2px solid #ddd;
}

.sticky-row-1 {
    position: sticky;
    top: -1rem;
    background-color: var(--clr-secondary) !important;
    z-index: 2;
    border: 2px solid #ddd;
}

/* Botones de Información */
.info-btn {
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
    color: var(--clr-text);
}

.info-btn i {
    font-size: 0.8rem;
}

.info-btn i:hover {
    color: white;
}