<!-- Search Function: Input + Button -->
<section class="display-flex-center">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar" id="searchInput" />
        <button class="btn bi bi-search" id="searchButton"></button>
    </div>
    <ion-icon
    name="add-circle-outline"
    data-bs-toggle="modal"
    data-bs-target="#newRegisterModal"
    id="showModalButton"
  >Agregar</ion-icon>
</section>

<style>
    .input-group {
        width: 250px;
        margin: 1em;
    }

    #searchInput {
        width: 100px;
        height: 40px;
        background-color: transparent;
    }

    #searchButton {
        width: auto;
        height: 40px;
        padding: 0 10px 0 10px;
       background-color: var(--clr-primary);
       font-size: 1.25em;
       color: var(--clr-text);
    }

    ion-icon{
        color: red;
        height: 50px;
        width: 50px;
        font-size: 2rem;

    }
</style>