<section class="dropdown-section">
    <div class="dropdown">
        <a class="button bi bi-list" data-bs-toggle="dropdown" id="menu-icon"></a>
        <ul class="dropdown-menu">
            <li>Menú</li>
            <li><a class="dropdown-item" href="../facturas/compras/purchase.html">* Facturas de Compras</a></li>
            <!-- Cerra sesión -->
            <li><a id="logout" class="dropdown-item" href="#">* Cerrar sesión</a></li>
        </ul>
    </div>
</section>

<style>
    .dropdown-section {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .dropdown-section .button {
        position: fixed;
        top: 10px;
        left: 10px;
        width: 40px;
        text-decoration: none;
        color: var(--clr-button);
        border-radius: 50px;
        background: white;
        padding: 0px;
        font-size: 1.5em;
        font-weight: 500;
        text-align: center;
    }

    .dropdown-section .button:hover {
        border-radius: 50px;
        border: 1px solid #e8e8e8;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
        justify-items: center;
        transition: all 0.3s;
    }

    .dropdown-section .button:active {
        box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
    }

    .dropdown ul {
        padding: 0 20px 0 20px;
    }

    .dropdown li {
        font-weight: 500;
        text-align: center;
    }
</style>