/* Estilos Generales */
th, td {
    border: 2px solid #ddd;
    padding: 8px;
    color: #666;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 15px;
}

th {
    font-weight: 500;
}

/* Estilos de Celdas Pegajosas (Sticky) */
th,
.clr-cel {
    background-color: var(--clr-secondary) !important;
}

.f500 {
    font-weight: 500;
}

th i {
    font-size: 2rem;
}

.sticky-col-2 {
    font-size: 1.2rem;
    position: sticky;
    left: -1rem;
    z-index: 4;
}

/* Botones de Información */
.circle-btn {
    border-radius: 50%;
}

.circle-btn,
.square-btn {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bi-card-heading {
    align-items: center;
}

/* Nuevos estilos para hover y selección */
.table-striped tbody tr:hover,
.table-striped tbody tr.selected {
    background-color: #b0e0e6 !important;  /* Azul pastel */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Opcional: Refuerza color en celdas individuales */
.table-striped tbody tr:hover td,
.table-striped tbody tr.selected td {
    background-color: inherit !important;
}