#rowsPerPageSelect {
    margin-top: 1.1rem;
    font-size: 0.8rem;
    width: 10px;
}

.pagination-custom {
    font-size: 0.8rem;
    padding: 0.5rem;
}

#pagination .share-icon {
    margin: 1rem 0 0 0.5rem;
    font-size: 0.8rem;
    color: var(--clr-button);
}

#pagination .share-icon:hover {
    color: white;
}