<section class="searchInput-container">
  <div class="searchInput-content">
    <div class="input-wrapper">
      <input
        class="form-control"
        placeholder="Buscar"
        autocomplete="off"
        id="searchInput"
      />
      <i class="bi bi-x clear-button" id="clearInputButton"></i>
    </div>
    <button class="btn bi bi-search" id="searchButton"></button>
  </div>
  <!-- Contenedor de búsquedas recientes -->
  <div id="recentSearches" class="hidden"></div>
</section>